@import url('navbar.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --primary: rgb(100, 141, 100);
    --secondary: white;
    
}

#reserv-info1{
    margin-top: 50%; 
    margin-bottom: 50%;
    position: relative;
    left: 93%;
    top: -50px;
}

#event-info1{
    margin-top: 50%; 
    margin-bottom: 50%;
    position: relative;
    left: 93%;
    top: -85px;
}

#seemore-icon{
    position: relative;
    left: 0px;
    top: -10px;
    width: 40px;
    height: 40px;;
}

.search-box
{
   min-height: 250px;
   /*width: 1500px;*/
   width: 97%;
   border-radius: 10px;
   margin-left: auto;
   margin-right: auto;
   background-image: url("../pics/andrew.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   opacity: 0.9;
   background-color: #292d28;
   background-blend-mode:soft-light;
  
  
}

.see-more
{
    float: right;
    margin-top: -50px;
    background-color: white;
    border-style: solid;
    width: 100px;
    height: 50px;
    text-align: center; 
    padding-top: 10; 
}

.see-more-link
{
    color: black;
    text-decoration: none;
}

.see-more-link:hover
{
    color: var(--primary);
}

.see-more-events
{
    background-color: white;
    border-style: solid;
    width: 100px;
    height: 50px;
    text-align: center; 
    padding-top: 10; 
    margin-top: -40px;
    float: left;
    margin-left: 1200px;
    
}

.see-events-link
{
    color: black;
    text-decoration: none;
}

.see-events-link:hover
{
    color: var(--primary);
}

.see-more-reservations
{
    background-color: white;
    border-style: solid;
    width: 100px;
    height: 50px;
    text-align: center; 
    padding-top: 10; 
    margin-top: -40px;
    float: left;
    margin-left: 1200px;
}

.see-reservations-link
{
    color: black;
    text-decoration: none;
}

.see-reservations-link:hover
{
    color: var(--primary);
}


h1{
    color: var(--secondary);
    opacity: none;
    padding-left: 60px;
    font-size: 50px;
    line-height: normal;
}

.input-box1
{
    margin: 70px;
    margin-top: 10px;
    display: grid;
    border-radius: 5px;
    width: 90%;
    height: 50px;
}

.search-button
{
    opacity: none;
    float: right;
    margin-right: 150px;
    margin-top: -107px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    
}
::placeholder
{
    padding-left: 5px;
}


.box{
    margin-right: auto;
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    /* padding-left: 20px; */
    margin-left: auto;
    background: var(--primary);
    
}

.box-avail{
    margin-right: auto;
    width: 97%;
    border-radius: 10px;
    padding: 10px;
    /* padding-left: 20px; */
    margin-left: auto;
    background: var(--primary);
    
}

.box-plain{
  margin-right: auto;
  width: 70%;
  border-radius: 10px;
  margin-left: auto;
  background: var(--secondary);
}

.box2{
    width: 97%;
    height: 125px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 2px;
    padding-left: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    background: lightgray;
    
}

h2
{
    color: var(--secondary);
    opacity: none;
    padding-top: 10px;
    font-size: 30px;
}


.container 
{ /* parent element */
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1500px;
}

@supports (flex-wrap: wrap) 
{
    .container 
    {
        display: flexbox;
        position: static;
    }
}

.room-details 
{
    -webkit-flex-order: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    background-color: lightgray;
    width: 300px;
    height: 400px;
    padding: 15px;
    margin: 0px 10px 20px;
    border-radius: 10px;
    justify-content: center;
}


.room-title, .class-title
{
    font-size: 20px;
    text-align: left;
}

.room-title a
{
  color: black;
  text-decoration: none;
}

.room-title a:hover
{
  color: var(--primary);
}

.room-desc
{
    text-align: left;
    font-size: 14px;
    font-family: Montserrat;
}

.room-pic 
{
    margin-left: 10px;
    height: 150px;
    
}

.available-box
{
    position: absolute;
    border-radius: 10px;
    border-style: solid;
    width: 96px;
    height: 40px;
    margin-left: 168px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 5px;
    background-color: var(--primary);  
    border: none;
}

.horizontal-line
{
    border: 5;
    height: 10px;
    background: black;
}

.plain-text
{
    color: black;
    font-weight: 700;
}

#displayDateTime{
    padding-top: 40px;
    margin-left: 60px;
    font-family: Monserrat;
    color: var(--secondary);
}

