<!-- <div class="popup-details" id="popup-details">
    <h3> Schedule </h3>
    <p id="eventname">Event Name: [none]</p>
    <p id="org">Event Organizer: [none]</p>
    <p id="rem">Remarks: [none]</p>
    <button type="button" onclick="closePopup()">Close</button>
  </div> -->


  <!-- Trigger/Open The Modal -->


<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h3> Schedule </h3>
    </div>
    <p id="eventname">Event Name: [none]</p>
    <p id="org">Event Organizer: [none]</p>
    <p id="rem">Remarks: [none]</p>
  </div>

</div>